body {
    margin: 0%;

}
#color-palette {
    height: 4em;
    margin-right: 50%;
    width: 30%;
    
}
.color {
    border: solid black 1px;
    width: 6%;
    border-radius: 100%;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    padding-left: 38px;
}
#lista-cores {
    position: absolute;
    top: 60px;
    left: 300px;
    font-size: large ;
}
#pixel-board {
    border: solid black 1px;
    margin-top: 5%;
    height: 400px;
    width: 400px;
    margin-left: 2%;
}
.pixel {
    height: 78px;
    width: 78px;
    margin: 0px 0px 0px;
    padding: 0px;
    border: solid black 1px;
    background-color: white;
    float: left;
}
